body {
    background-color: #000;
    font-size: 16px;
    min-width: 320px;
}

#board {
    position: relative;
    width: 80vw;
    height: 100vh;
    margin: auto;
    background: url("../img/board.jpg") no-repeat;
    background-size: contain;
}

#messageArea {
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(83, 175, 19);
    font-size: 4vw;
}

table {
    position: absolute;
    left: 13.4vw;
    top: 7.6vw;
    border-spacing: 0px;
}

td {
    width: 7.198vw;
    height: 7.199vw;
}

form {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.95em;
    background-color: rgb(83, 175, 19);
}

form input {
    background-color: rgb(152, 207, 113);
    border-color: rgb(83, 175, 19);
    font-size: 1.5em;
}

.hit {
    background: url("../img/ship.png") no-repeat center center;
    background-size: contain;
}

.miss {
    background: url("../img/miss.png") no-repeat center center;
    background-size: contain;
}

@media screen and (max-width: 900px) {
    td {
        width: 7.018vw;
        height: 7.019vw;
    }
}

@media screen and (max-width: 700px) {
    td {
        width: 6.858vw;
        height: 6.859vw;
    }
}

@media screen and (max-width: 500px) {
    td {
        width: 6.618vw;
        height: 6.619vw;
    }
}

@media screen and (max-width: 420px) {
    td {
        width: 6.418vw;
        height: 6.419vw;
    }
}